<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="BINANCE_API_KEY" value="uxxCQbHuAvZNKsH2gOqewAsnymgt8qvzFOCqoKgazVhGlXVx4rvuWGA0wQIvkzNM"/>
		<add key="BINANCE_SECRET_KEY" value="YyysydbbeM1t3PEOBat0X7y5OgTr43P7LlhVzmLGTacON8yFPzY76KsOm2WRgI58"/>
		<add key="BINANCE_SYMBOL_REGEX" value="USDT$"/>
		<add key="BINANCE_ALLOW_MARGIN_TRADING" value="false"/>
		<add key="BUY_WHEN_IN_POSITION" value="true"/>
	</appSettings>
</configuration>